{% extends 'shared/_layout.html' %}
{% load render_partial %}

{% block title %}لیست مقالات{% endblock %}

{% block header %}
    <header class="header">
        <div class="header-middle">
            <div class="container">
                <div class="header-left mr-md-4">
                    <a href="#" class="mobile-menu-toggle  w-icon-hamburger" aria-label="menu-toggle">
                    </a>
                    <a href="demo-rtl.html" class="logo ml-lg-0">
                        <img src="/static/assets/images/11112-transformed.png" alt="logo" width="190" height="55"/>
                    </a>
                    <form method="get" action="{% url 'search-result' %}"
                          class="header-search hs-expanded hs-round d-none d-md-flex input-wrapper">
                        <div class="search-border"></div>
                        {{ search_form.query }}
                        <button class="btn btn-search" type="submit"><i class="w-icon-search"></i></button>
                    </form>
                </div>
                <div class="header-right ml-4">
                </div> {% if user.is_authenticated %}
                <a class="wishlist label-down link d-xs-show" href="{% url 'my_account' %}">
                    <i class="w-icon-account font-size-lg mb-1"></i>
                    <span class="wishlist-label d-lg-show fo-fa">مشاهده حساب کاربری</span>
                </a> {% else %} <a class="wishlist label-down link d-xs-show" href="{% url 'login_page' %}">
                    <i class="w-icon-account font-size-lg mb-1"></i>
                    <span class="wishlist-label d-lg-show fo-fa">ورود به حساب کاربری</span>
                </a> {% endif %} <a class="wishlist label-down link d-xs-show wish-count-main"
                                    href="{% url 'my-favorites' %}">
                <i class="w-icon-heart font-size-lg mb-1">
                    <span class="cart-count wish-count fo-fa text-white">{{ request.session.product_favorites|length }}</span>
                </i>
                <span class="wishlist-label d-lg-show fo-fa">علاقه‌مندی‌ها</span>
            </a>
                <a class="wishlist label-down link d-xs-show wish-count-main" href="{% url 'my-orders' %}">
                    <i class="w-icon-cart font-size-lg mb-1 cart-count-icon">
                        <span class="cart-count wish-count fo-fa text-white">{{ request.session.product_orders|length }}</span>
                    </i>
                    <span class="wishlist-label d-lg-show fo-fa">سبد خرید</span>
                </a>
            </div>
        </div>
        </div>
        </div>
        <!-- End of Header Middle -->
        <div class="header-bottom sticky-content fix-top sticky-header">
            <div class="container" style="border-bottom: 1px solid #eee; margin-bottom: 20px">
                <div class="inner-wrap">
                    <div class="header-left">
                        <div class="dropdown category-dropdown has-border" data-visible="true">
                            <a href="#" class="category-toggle" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="true" data-display="static"
                               title="Browse Categories">
                                <span>دسته‌بندی قالب‌ها</span>
                            </a>
                            <div class="dropdown-box">
                                <ul class="menu vertical-menu category-menu"> {% for category in categories %}
                                    <li>
                                        <a href="{% url 'product-categories-list' category.url_title %}">
                                            <i class="{{ category.icon }}"
                                               style='font-size:14.5px'></i>{{ category.title }}
                                        </a>
                                    </li> {% endfor %}
                                    <li>
                                        <a href="{% url 'product-list' %}"
                                           class="font-weight-bold text-primary text-uppercase ls-25 ml-1 pt-3 pb-1">
                                            مشاهده همه دسته‌بندی‌ها<i class="w-icon-angle-left ml-2"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <nav class="main-nav">
                            <ul class="menu active-underline">
                                <li class="active">
                                    <a href="{% url 'home_page' %}">صفحه اصلی</a>
                                </li>
                                <li>
                                    <a href="{% url 'product-list' %}">فروشگاه</a>
                                </li>
                                <li>
                                    <a href="{% url 'article-list' %}">مقالات تخصصی</a>
                                    <ul> {% for category, article_list in articles_in_article_categories %}
                                        <li>
                                            <a href="{% url 'article-categories-list' category.url_title %}"
                                               class="fo-fa arti-home">{{ category.title }}</a>
                                            <ul> {% for article in article_list %}
                                                <li><a href="{% url 'article-detail' slug=article.slug %}"
                                                       class="fo-fa arti-home">{{ article.title }}</a></li> {% endfor %}
                                            </ul>
                                        </li> {% endfor %} </ul>
                                </li>
                                <li>
                                    <a href="#">خدمات طراحی سایت</a>
                                    <ul>
                                        <li>
                                            <a href="#" class="fo-fa arti-home">سفارشی‌سازی Front End سایت</a>
                                        </li>
                                        <li>
                                            <a href="#" class="fo-fa arti-home">پیاده‌سازی Back End سایت</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">صفحات</a>
                                    <ul>
                                        <li><a href="{% url 'contact_us_page' %}" class="fo-fa arti-home">سوالی دارید؟
                                            تماس با ما</a></li>
                                        <li><a href="#" class="fo-fa arti-home">درخواست پشتیبانی</a></li>
                                        <li><a href="#" class="fo-fa arti-home">درباره ما (داستان ما رو دنبال کن!)</a>
                                        </li>
                                        <li><a href="#" class="fo-fa arti-home">قوانین و شرایط سایت</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="{% url "register_page" %}">ایجاد حساب کاربری </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}





{% block content %}

    <!-- Start of Main -->
    <main class="main">
        <!-- Start of Breadcrumb -->
        <nav class="breadcrumb-nav">
            <div class="container">
{#                <ul class="breadcrumb bb-no">#}
{#                    <li><a href="demo-rtl.html">Home</a></li>#}
{#                    <li>Shop</li>#}
{#                </ul>#}
            </div>
        </nav>
        <!-- End of Breadcrumb -->

        <!-- Start of Page Content -->
        <div class="page-content">
            <div class="container mt-5">


                <!-- Start of Shop Content -->
                <div class="shop-content row gutter-lg mb-10">

                    <!-- Start of Shop Main Content -->
                    <div class="main-content" style="margin: auto">
                        <nav class="toolbox sticky-toolbox sticky-content fix-top">
                            <div class="toolbox-left">
                                <a href="#" class="btn btn-primary btn-outline btn-rounded left-sidebar-toggle
                                        btn-icon-left d-block d-lg-none"><i
                                        class="w-icon-category"></i><span>فیلترها</span></a>
                                <div class="toolbox-item toolbox-sort select-box text-dark">
                                    <label>تنظیم بر اساس :</label>
                                    <select name="orderby" class="form-control">
                                        <option value="default" selected="selected">حالت پیش فرض</option>
                                        <option value="popularity">بر اساس محبوبیت</option>
                                        <option value="rating">بر اساس امتیازات</option>
                                        <option value="date">بر اساس آخرین ها</option>
                                    </select>
                                </div>
                            </div>
                            <div class="toolbox-right">
                                <div class="toolbox-item toolbox-show select-box">
                                    <select name="count" class="form-control">
                                        <option value="9">نمایش 9</option>
                                        <option value="12" selected="selected">نمایش 12</option>
                                        <option value="24">نمایش 24</option>
                                        <option value="36">نمایش 36</option>
                                    </select>
                                </div>
                                <div class="toolbox-item toolbox-layout">
                                    <a href="demo-rtl-shop.html" class="icon-mode-grid btn-layout active">
                                        <i class="w-icon-grid"></i>
                                    </a>
                                    <a href="shop-list.html" class="icon-mode-list btn-layout">
                                        <i class="w-icon-list"></i>
                                    </a>
                                </div>
                            </div>
                        </nav>


                        <div class="product-wrapper row cols-md-3 cols-sm-2 cols-2">
                            {% for article in articles %}
                                <div class="swiper-slide post text-center overlay-zoom">
                                    <figure class="post-media br-sm">
                                        <a href="{% url 'article-detail' slug=article.slug %}">
                                            <img src="{{ article.image.url }}" alt="Post"
                                                 style="background-color: #4b6e91; width: 280px; height: 180px; border-radius: 5px; margin: auto"/>
                                        </a>
                                    </figure>
                                    <div class="post-details">
                                        <div class="post-meta">
                                            {% for category in article.category.all %}
                                                <a href="{% url 'article-categories-list' category=category.url_title %}"
                                                   class="post-author fo-fa font-size-sm">دسته‌بندی: {{ category.title }}</a>
                                            {% endfor %}
                                            <a class="post-date ml-0 fo-fa font-size-sm">
                                                ({{ article.created_at|date:"F j, Y" }}) </a>
                                        </div>
                                        <h4 class="post-title fo-fa font-size-sm mt-1"><a
                                                href="{% url 'article-detail' slug=article.slug %}">{{ article.title }}</a>
                                        </h4>
                                        <a href="{% url 'article-detail' slug=article.slug %}"
                                           class="btn btn-link btn-dark btn-underline fo-fa font-size-sm">مشاهده مقاله
                                            <i class="w-icon-long-arrow-left font-size-sm"></i></a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="toolbox toolbox-pagination justify-content-between">
                            <p class="showing-info mb-2 mb-sm-0">
{#                                Showing<span>1-12 of 60</span>Products#}
                            </p>


                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                    <li class="prev disabled pre-pas">
                                        <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous"
                                           tabindex="-1" aria-disabled="true">
                                            قبلی <i class="w-icon-long-arrow-right" style="align-items: end;"></i></a>
                                    </li>
                                {% endif %}

                                {% for page_number in paginator.page_range %}
                                    <li class="page-item {% if page_obj.number == page_number %} active {% endif %}"><a
                                            id="pagin" class="page-link"
                                            href="?page={{ page_number }}">{{ page_number }}</a></li>
                                {% endfor %}

                                {% if page_obj.has_next %}
                                    <li class="next pre-pas">
                                        <a href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                            <i class="w-icon-long-arrow-left"></i>بعدی
                                        </a>
                                    </li>
                                {% endif %}

                            </ul>
                        </div>
                    </div>
                    <!-- End of Shop Main Content -->
                </div>
                <!-- End of Shop Content -->
            </div>
        </div>
        <!-- End of Page Content -->
    </main>
    <!-- End of Main -->

{% endblock %}
