{% extends 'shared/_layout.html' %}

{% block titile %}تماس با ما{% endblock %}

{% block header %}
    <header class="header">
        <div class="header-middle">
            <div class="container">
                <div class="header-left mr-md-4">
                    <a href="#" class="mobile-menu-toggle  w-icon-hamburger" aria-label="menu-toggle">
                    </a>
                    <a href="demo-rtl.html" class="logo ml-lg-0">
                        <img src="/static/assets/images/11112-transformed.png" alt="logo" width="190" height="55"/>
                    </a>
                    <form method="get" action="{% url 'search-result' %}"
                          class="header-search hs-expanded hs-round d-none d-md-flex input-wrapper">
                        <div class="search-border"></div>
                        {{ search_form.query }}
                        <button class="btn btn-search" type="submit"><i class="w-icon-search"></i></button>
                    </form>
                </div>
                <div class="header-right ml-4">
                </div> {% if user.is_authenticated %}
                <a class="wishlist label-down link d-xs-show" href="{% url 'my_account' %}">
                    <i class="w-icon-account font-size-lg mb-1"></i>
                    <span class="wishlist-label d-lg-show fo-fa">مشاهده حساب کاربری</span>
                </a> {% else %} <a class="wishlist label-down link d-xs-show" href="{% url 'login_page' %}">
                    <i class="w-icon-account font-size-lg mb-1"></i>
                    <span class="wishlist-label d-lg-show fo-fa">ورود به حساب کاربری</span>
                </a> {% endif %} <a class="wishlist label-down link d-xs-show wish-count-main"
                                    href="{% url 'my-favorites' %}">
                <i class="w-icon-heart font-size-lg mb-1">
                    <span class="cart-count wish-count fo-fa text-white">{{ request.session.product_favorites|length }}</span>
                </i>
                <span class="wishlist-label d-lg-show fo-fa">علاقه‌مندی‌ها</span>
            </a>
                <a class="wishlist label-down link d-xs-show wish-count-main" href="{% url 'my-orders' %}">
                    <i class="w-icon-cart font-size-lg mb-1 cart-count-icon">
                        <span class="cart-count wish-count fo-fa text-white">{{ request.session.product_orders|length }}</span>
                    </i>
                    <span class="wishlist-label d-lg-show fo-fa">سبد خرید</span>
                </a>
            </div>
        </div>
        </div>
        </div>
        <!-- End of Header Middle -->
        <div class="header-bottom sticky-content fix-top sticky-header">
            <div class="container" style="border-bottom: 1px solid #eee; margin-bottom: 20px">
                <div class="inner-wrap">
                    <div class="header-left">
                        <div class="dropdown category-dropdown has-border" data-visible="true">
                            <a href="#" class="category-toggle" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="true" data-display="static"
                               title="Browse Categories">
                                <span>دسته‌بندی قالب‌ها</span>
                            </a>
                            <div class="dropdown-box">
                                <ul class="menu vertical-menu category-menu"> {% for category in categories %}
                                    <li>
                                        <a href="{% url 'product-categories-list' category.url_title %}">
                                            <i class="{{ category.icon }}"
                                               style='font-size:14.5px'></i>{{ category.title }}
                                        </a>
                                    </li> {% endfor %}
                                    <li>
                                        <a href="{% url 'product-list' %}"
                                           class="font-weight-bold text-primary text-uppercase ls-25 ml-1 pt-3 pb-1">
                                            مشاهده همه دسته‌بندی‌ها<i class="w-icon-angle-left ml-2"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <nav class="main-nav">
                            <ul class="menu active-underline">
                                <li class="active">
                                    <a href="{% url 'home_page' %}">صفحه اصلی</a>
                                </li>
                                <li>
                                    <a href="{% url 'product-list' %}">فروشگاه</a>
                                </li>
                                <li>
                                    <a href="blog.html">مقالات تخصصی</a>
                                    <ul> {% for category, article_list in articles_in_article_categories %}
                                        <li>
                                            <a href="{% url 'article-categories-list' category.url_title %}"
                                               class="fo-fa arti-home">{{ category.title }}</a>
                                            <ul> {% for article in article_list %}
                                                <li><a href="{% url 'article-detail' slug=article.slug %}"
                                                       class="fo-fa arti-home">{{ article.title }}</a></li> {% endfor %}
                                            </ul>
                                        </li> {% endfor %} </ul>
                                </li>
                                <li>
                                    <a href="#">خدمات طراحی سایت</a>
                                    <ul>
                                        <li>
                                            <a href="#" class="fo-fa arti-home">سفارشی‌سازی Front End سایت</a>
                                        </li>
                                        <li>
                                            <a href="#" class="fo-fa arti-home">پیاده‌سازی Back End سایت</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">صفحات</a>
                                    <ul>
                                        <li><a href="{% url 'contact_us_page' %}" class="fo-fa arti-home">سوالی دارید؟
                                            تماس با ما</a></li>
                                        <li><a href="#" class="fo-fa arti-home">درخواست پشتیبانی</a></li>
                                        <li><a href="#" class="fo-fa arti-home">درباره ما (داستان ما رو دنبال کن!)</a>
                                        </li>
                                        <li><a href="#" class="fo-fa arti-home">قوانین و شرایط سایت</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="{% url "register_page" %}">ایجاد حساب کاربری </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}


{% block content %}
    <!-- Start of Main -->
    <main class="main">
        <!-- Start of Page Header -->
        <div class="page-header">
            <div class="container">
                <h1 class="page-title mb-0">Contact Us</h1>
            </div>
        </div>
        <!-- End of Page Header -->

        <!-- Start of Breadcrumb -->
        <nav class="breadcrumb-nav mb-10 pb-1">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a href="demo1.html">Home</a></li>
                    <li>Contact Us</li>
                </ul>
            </div>
        </nav>
        <!-- End of Breadcrumb -->

        <!-- Start of PageContent -->
        <div class="page-content contact-us">
            <div class="container">
                <section class="content-title-section mb-10">
                    <h3 class="title title-center mb-3">Contact
                        Information
                    </h3>
                    <p class="text-center">Lorem ipsum dolor sit amet,
                        consectetur
                        adipiscing elit, sed do eiusmod tempor incididunt ut</p>
                </section>
                <!-- End of Contact Title Section -->

                <section class="contact-information-section mb-10">
                    <div class=" swiper-container swiper-theme " data-swiper-options="{
                            'spaceBetween': 20,
                            'slidesPerView': 1,
                            'breakpoints': {
                                '480': {
                                    'slidesPerView': 2
                                },
                                '768': {
                                    'slidesPerView': 3
                                },
                                '992': {
                                    'slidesPerView': 4
                                }
                            }
                        }">
                        <div class="swiper-wrapper row cols-xl-4 cols-md-3 cols-sm-2 cols-1">
                            <div class="swiper-slide icon-box text-center icon-box-primary">
                                    <span class="icon-box-icon icon-email">
                                        <i class="w-icon-envelop-closed"></i>
                                    </span>
                                <div class="icon-box-content">
                                    <h4 class="icon-box-title">E-mail Address</h4>
                                    <p><a href="/cdn-cgi/l/email-protection" class="__cf_email__"
                                          data-cfemail="f598949c99b5908d9498859990db969a98">[email&#160;protected]</a>
                                    </p>
                                </div>
                            </div>
                            <div class="swiper-slide icon-box text-center icon-box-primary">
                                    <span class="icon-box-icon icon-headphone">
                                        <i class="w-icon-headphone"></i>
                                    </span>
                                <div class="icon-box-content">
                                    <h4 class="icon-box-title">Phone Number</h4>
                                    <p>(123) 456-7890 / (123) 456-9870</p>
                                </div>
                            </div>
                            <div class="swiper-slide icon-box text-center icon-box-primary">
                                    <span class="icon-box-icon icon-map-marker">
                                        <i class="w-icon-map-marker"></i>
                                    </span>
                                <div class="icon-box-content">
                                    <h4 class="icon-box-title">Address</h4>
                                    <p>Lawrence, NY 11345, USA</p>
                                </div>
                            </div>
                            <div class="swiper-slide icon-box text-center icon-box-primary">
                                    <span class="icon-box-icon icon-fax">
                                        <i class="w-icon-fax"></i>
                                    </span>
                                <div class="icon-box-content">
                                    <h4 class="icon-box-title">Fax</h4>
                                    <p>1-800-570-7777</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End of Contact Information section -->

                <hr class="divider mb-10 pb-1">

                <section class="contact-section">
                    <div class="row gutter-lg pb-3">
                        <div class="col-lg-6 mb-8">
                            <h4 class="title mb-3">People usually ask these</h4>

                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item accordion-bg accordion-gutter-md accordion-border">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                            Accordion Item #1 &nbsp &nbsp &nbsp &nbsp &nbsp
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show"
                                         data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <strong>This is the first item's accordion body.</strong> It is shown by
                                            default, until the collapse plugin adds the appropriate classes that we use
                                            to style each element. These classes control the overall appearance, as well
                                            as the showing and hiding via CSS transitions. You can modify any of this
                                            with custom CSS or overriding our default variables. It's also worth noting
                                            that just about any HTML can go within the <code>.accordion-body</code>,
                                            though the transition does limit overflow.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                                aria-expanded="false" aria-controls="collapseTwo">
                                            Accordion Item #2
                                        </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse"
                                         data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <strong>This is the second item's accordion body.</strong> It is hidden by
                                            default, until the collapse plugin adds the appropriate classes that we use
                                            to style each element. These classes control the overall appearance, as well
                                            as the showing and hiding via CSS transitions. You can modify any of this
                                            with custom CSS or overriding our default variables. It's also worth noting
                                            that just about any HTML can go within the <code>.accordion-body</code>,
                                            though the transition does limit overflow.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                                aria-expanded="false" aria-controls="collapseThree">
                                            Accordion Item #3
                                        </button>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse"
                                         data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <strong>This is the third item's accordion body.</strong> It is hidden by
                                            default, until the collapse plugin adds the appropriate classes that we use
                                            to style each element. These classes control the overall appearance, as well
                                            as the showing and hiding via CSS transitions. You can modify any of this
                                            with custom CSS or overriding our default variables. It's also worth noting
                                            that just about any HTML can go within the <code>.accordion-body</code>,
                                            though the transition does limit overflow.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                                aria-expanded="false" aria-controls="collapseTwo">
                                            Accordion Item #2
                                        </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse"
                                         data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <strong>This is the second item's accordion body.</strong> It is hidden by
                                            default, until the collapse plugin adds the appropriate classes that we use
                                            to style each element. These classes control the overall appearance, as well
                                            as the showing and hiding via CSS transitions. You can modify any of this
                                            with custom CSS or overriding our default variables. It's also worth noting
                                            that just about any HTML can go within the <code>.accordion-body</code>,
                                            though the transition does limit overflow.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                                aria-expanded="false" aria-controls="collapseTwo">
                                            Accordion Item #2
                                        </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse"
                                         data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <strong>This is the second item's accordion body.</strong> It is hidden by
                                            default, until the collapse plugin adds the appropriate classes that we use
                                            to style each element. These classes control the overall appearance, as well
                                            as the showing and hiding via CSS transitions. You can modify any of this
                                            with custom CSS or overriding our default variables. It's also worth noting
                                            that just about any HTML can go within the <code>.accordion-body</code>,
                                            though the transition does limit overflow.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                                aria-expanded="false" aria-controls="collapseTwo">
                                            Accordion Item #2
                                        </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse"
                                         data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <strong>This is the second item's accordion body.</strong> It is hidden by
                                            default, until the collapse plugin adds the appropriate classes that we use
                                            to style each element. These classes control the overall appearance, as well
                                            as the showing and hiding via CSS transitions. You can modify any of this
                                            with custom CSS or overriding our default variables. It's also worth noting
                                            that just about any HTML can go within the <code>.accordion-body</code>,
                                            though the transition does limit overflow.
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6 mb-8">
                            <h4 class="title mb-3">Send Us a Message</h4>


                            <form novalidate id="main-contact-form" class="contact-form row"
                                  action="{% url 'contact_us_page' %}"
                                  method="post">
                                {% csrf_token %}


                                <div class="col-md-6 form-group text-body-tertiary fs-4.75">
                                    {{ contact_form.email.label_tag }}
                                    {{ contact_form.email }}
                                    {% if contact_form.email.errors %}
                                        <div class="error-message fs-5"
                                             style="color: #B22222;">{{ contact_form.email.errors|striptags }}</div>
                                    {% endif %}
                                </div>

                                <div class="col-md-6 form-group text-body-tertiary fs-4.5">
                                    {{ contact_form.full_name.label_tag }}
                                    {{ contact_form.full_name }}
                                    {% if contact_form.full_name.errors %}
                                        <div class="error-message fs-5"
                                             style="color: #B22222;">{{ contact_form.full_name.errors|striptags }}</div>
                                    {% endif %}
                                </div>

                                <div class="col-md-12 form-group text-body-tertiary fs-4.5">
                                    {{ contact_form.title.label_tag }}
                                    {{ contact_form.title }}
                                    {% if contact_form.title.errors %}
                                        <div class="error-message fs-5"
                                             style="color: #B22222;">{{ contact_form.title.errors|striptags }}</div>
                                    {% endif %}
                                </div>

                                <div class="col-md-12 form-group text-body-tertiary fs-4.5">
                                    {{ contact_form.message.label_tag }}
                                    {{ contact_form.message }}
                                    {% if contact_form.message.errors %}
                                        <div class="error-message fs-5"
                                             style="color: #B22222;">{{ contact_form.message.errors|striptags }}</div>
                                    {% endif %}
                                </div>

                                <button type="submit" class="col-3 btn btn-dark btn-rounded ml-2 mt-2">ارسال پیام
                                </button>
                            </form>


                        </div>
                    </div>
                </section>
                <!-- End of Contact Section -->
            </div>

            <!-- Google Maps - Go to the bottom of the page to change settings and map location. -->
            <div class="google-map contact-google-map" id="googlemaps"></div>
            <!-- End Map Section -->
        </div>
        <!-- End of PageContent -->
    </main>
    <!-- End of Main -->


{% endblock %}

