{% extends 'shared/_layout.html' %}

{% block title %} فاکتور فروش {% endblock %}

{% block header %}
    <header class="header">
        <div class="header-middle">
            <div class="container">
                <div class="header-left mr-md-4">
                    <a href="#" class="mobile-menu-toggle  w-icon-hamburger" aria-label="menu-toggle">
                    </a>
                    <a href="demo-rtl.html" class="logo ml-lg-0">
                        <img src="/static/assets/images/11112-transformed.png" alt="logo" width="190" height="55"/>
                    </a>
                    <form method="get" action="{% url 'search-result' %}"
                          class="header-search hs-expanded hs-round d-none d-md-flex input-wrapper">
                        <div class="search-border"></div>
                        {{ search_form.query }}
                        <button class="btn btn-search" type="submit"><i class="w-icon-search"></i></button>
                    </form>
                </div>
                <div class="header-right ml-4">
                </div> {% if user.is_authenticated %}
                <a class="wishlist label-down link d-xs-show" href="{% url 'my_account' %}">
                    <i class="w-icon-account font-size-lg mb-1"></i>
                    <span class="wishlist-label d-lg-show fo-fa">مشاهده حساب کاربری</span>
                </a> {% else %} <a class="wishlist label-down link d-xs-show" href="{% url 'login_page' %}">
                    <i class="w-icon-account font-size-lg mb-1"></i>
                    <span class="wishlist-label d-lg-show fo-fa">ورود به حساب کاربری</span>
                </a> {% endif %} <a class="wishlist label-down link d-xs-show wish-count-main"
                                    href="{% url 'my-favorites' %}">
                <i class="w-icon-heart font-size-lg mb-1">
                    <span class="cart-count wish-count fo-fa text-white">{{ request.session.product_favorites|length }}</span>
                </i>
                <span class="wishlist-label d-lg-show fo-fa">علاقه‌مندی‌ها</span>
            </a>
                <a class="wishlist label-down link d-xs-show wish-count-main" href="{% url 'my-orders' %}">
                    <i class="w-icon-cart font-size-lg mb-1 cart-count-icon">
                        <span class="cart-count wish-count fo-fa text-white">{{ request.session.product_orders|length }}</span>
                    </i>
                    <span class="wishlist-label d-lg-show fo-fa">سبد خرید</span>
                </a>
            </div>
        </div>
        </div>
        </div>
        <!-- End of Header Middle -->
        <div class="header-bottom sticky-content fix-top sticky-header">
            <div class="container" style="border-bottom: 1px solid #eee; margin-bottom: 20px">
                <div class="inner-wrap">
                    <div class="header-left">
                        <div class="dropdown category-dropdown has-border" data-visible="true">
                            <a href="#" class="category-toggle" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="true" data-display="static"
                               title="Browse Categories">
                                <span>دسته‌بندی قالب‌ها</span>
                            </a>
                            <div class="dropdown-box">
                                <ul class="menu vertical-menu category-menu"> {% for category in categories %}
                                    <li>
                                        <a href="{% url 'product-categories-list' category.url_title %}">
                                            <i class="{{ category.icon }}"
                                               style='font-size:14.5px'></i>{{ category.title }}
                                        </a>
                                    </li> {% endfor %}
                                    <li>
                                        <a href="{% url 'product-list' %}"
                                           class="font-weight-bold text-primary text-uppercase ls-25 ml-1 pt-3 pb-1">
                                            مشاهده همه دسته‌بندی‌ها<i class="w-icon-angle-left ml-2"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <nav class="main-nav">
                            <ul class="menu active-underline">
                                <li class="active">
                                    <a href="{% url 'home_page' %}">صفحه اصلی</a>
                                </li>
                                <li>
                                    <a href="{% url 'product-list' %}">فروشگاه</a>
                                </li>
                                <li>
                                    <a href="{% url 'article-list' %}">مقالات تخصصی</a>
                                    <ul> {% for category, article_list in articles_in_article_categories %}
                                        <li>
                                            <a href="{% url 'article-categories-list' category.url_title %}"
                                               class="fo-fa arti-home">{{ category.title }}</a>
                                            <ul> {% for article in article_list %}
                                                <li><a href="{% url 'article-detail' slug=article.slug %}"
                                                       class="fo-fa arti-home">{{ article.title }}</a></li> {% endfor %}
                                            </ul>
                                        </li> {% endfor %} </ul>
                                </li>
                                <li>
                                    <a href="#">خدمات طراحی سایت</a>
                                    <ul>
                                        <li>
                                            <a href="#" class="fo-fa arti-home">سفارشی‌سازی Front End سایت</a>
                                        </li>
                                        <li>
                                            <a href="#" class="fo-fa arti-home">پیاده‌سازی Back End سایت</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">صفحات</a>
                                    <ul>
                                        <li><a href="#" class="fo-fa arti-home">سوالی دارید؟ تماس با ما</a></li>
                                        <li><a href="#" class="fo-fa arti-home">درخواست پشتیبانی</a></li>
                                        <li><a href="#" class="fo-fa arti-home">درباره ما (داستان ما رو دنبال کن!)</a>
                                        </li>
                                        <li><a href="#" class="fo-fa arti-home">قوانین و شرایط سایت</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="{% url "register_page" %}">ایجاد حساب کاربری </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}

    <br>  <br>
    <div class="container text-center mt-9 mb-9">
        <div class="row">
            <div class="col-md-5 final-right">

                <div class="col mb-6">
                    <div class="ecommerce-address shipping-address pr-lg-8">
                        <h4 class="title title-underline ls-25 font-weight-bold fo-fa">مشاهده جزئیات سفارش</h4>
                        <address class="mb-4">
                            <table class="address-table final-table">
                                <tbody>
                                <tr>
                                    <th>نام کاربری:</th>
                                    <td>{{ proforma.user.username }}</td>
                                </tr>
                                <tr>
                                    <th>آدرس ایمیل:</th>
                                    <td>{{ proforma.user.email }}</td>
                                </tr>
                                <tr>
                                    <th>تاریخ ایجاد سفارش:</th>
                                    <td>{{ proforma.create_date }}</td>
                                </tr>
                                <tr>
                                    <th>تعداد کل اقلام موجود:</th>
                                    <td>{{ request.session.product_orders|length }}</td>
                                </tr>
                                <tr>
                                    <th>قیمت نهایی سبد خرید:</th>
                                    <td>{{ proforma.total_price }} تومان</td>
                                </tr>
                                <tr>
                                    <th>شناسه سفارش:</th>
                                    <td>{{ proforma.id }}Pfo</td>
                                </tr>
                                </tbody>
                            </table>
                        </address>
                        <a href="{% url 'my_account' %}"
                           class="btn btn-link btn-underline btn-icon-right text-primary edit-final">
                            ویرایش اطلاعات حساب کاربری<i class="w-icon-long-arrow-left mr-1 "></i></a>
                    </div>
                </div>


            </div>
            <div class="col-md-7">
                <div class="container text-center mt-5">
                    <div class="row">
                        <div class="col-3 header-final">
                            شناسه محصول
                        </div>
                        <div class="col-6 header-final">
                            نام قالب و ایفکت
                        </div>
                        <div class="col-3 header-final border-final">
                            قیمت
                        </div>
                    </div>

                    {% for product in proforma.products.all %}
                        <div class="row">


                            <div class="col-3 header-final2">
                                <a href="{% url 'product-detail' slug=product.slug %}"
                                   class="hover-final">{{ proforma.id }}tmsa </a>
                            </div>


                            <div class="col-6 header-final2">
                                <a href="{% url 'product-detail' slug=product.slug %}"
                                   class="hover-final">{{ product.title }}</a>
                            </div>


                            <div class="col-3 header-final2 border-final">
                                {{ product.price }} تومان
                            </div>
                        </div>
                    {% endfor %}


                    <div class="row">
                        <div class="col-3 header-final3">
                            قیمت کل
                        </div>
                        <div class="col-9 header-final3">
                            {{ proforma.total_price }} تومان
                        </div>

                    </div>


                    <div class="row">
                        <div class="col-12 header-final3">

                            <div class="payment__methods">
                                <h5 class="checkout__tltle payment__title fo-fa">انتخاب درگاه پرداخت</h5>

                                <div class="payment__option flex">
                                    <input type="radio" name="radio" checked class="payment__input">
                                    <label for="" class="payment__label">درگاه به پرداخت ملت</label>
                                </div>

                                <div class="payment__option flex">
                                    <input type="radio" name="radio" checked class="payment__input">
                                    <label for="" class="payment__label">درگاه پرداخت زرین پال</label>
                                </div>

                                <div class="payment__option flex">
                                    <input type="radio" name="radio" checked class="payment__input">
                                    <label for="" class="payment__label">درگاه پرداخت الکترونیکی زیبال</label>
                                </div>

                            </div>

                            <button class="btn btn--md action-order action-payment">هدایت به صفحه پرداخت</button>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <br>  <br>  <br>


{% endblock %}


