<!-- Start of Footer -->
<footer class="footer appear-animate footer-border" data-animation-options="{
            'name': 'fadeIn'
        }">
    <div class="container">
        <div class="footer-top">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="widget widget-about">
                        <a href="demo-rtl.html" class="logo-footer ">
                            <img src="/static/assets/images/11112-transformed.png" alt="logo-footer" width="270"
                                 height="45"/>
                        </a>
                        <div class="widget-body">
                            <p class="widget-about-title fo-fa">سوالی دارید؟ شیوه‌های پاسخگویی سریع به پرسش‌های شما</p>
                            <p class="widget-about-call font-size-sm">
                                <a>info.rappidweb@gmail.com</a> <br> <br>
                                <a>info.rappidweb@gmail.com</a>
                            </p>
                            <p class="widget-about-desc fo-fa font-size-sm">همچنین، می توانید ما رو در شبکه های اجتماعی
                                هم دنبال کنید و با ما ارتباط بگیرین.
                            </p>
                            <div class="social-icons social-icons-colored">
                                <a href="#" class="social-icon social-facebook w-icon-facebook"></a>
                                <a href="#" class="social-icon social-twitter w-icon-twitter"></a>
                                <a href="#" class="social-icon social-instagram w-icon-instagram"></a>
                                <a href="#" class="social-icon social-youtube w-icon-youtube"></a>
                                <a href="#" class="social-icon social-pinterest w-icon-pinterest"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="widget fo-fa">
                        <h3 class="widget-title fo-fa">صفحات پرکاربرد</h3>
                        <ul class="widget-body fo-fa">
                            <li><a href="#">صفحه اصلی</a></li>
                            <li><a href="#">لیست محصولات</a></li>
                            <li><a href="about-us.html">داستان ما رو دنبال کن!</a></li>
                            <li><a href="#">درخواست پشتیبانی</a></li>
                            <li><a href="#">تماس با ما</a></li>
                            <li><a href="contact-us.html">قوانین و شرایط سایت</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="widget fo-fa">
                        <h4 class="widget-title">مدیریت حساب کاربری</h4>
                        <ul class="widget-body">
                            <li><a href="#">حساب کاربری من</a></li>
                            <li><a href="#">سبد خرید من</a></li>
                            <li><a href="cart.html">لیست علاقه‌مندی‌ها</a></li>
                            <li><a href="login.html">ورود به حساب کاربری</a></li>
                            <li><a href="#">ایجاد حساب کاربری</a></li>
                            <li><a href="wishlist.html">خروج از حساب کاربری</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="widget fo-fa">
                        <h4 class="widget-title">خدمات مشتریان</h4>
                        <ul class="widget-body">
                            <li><a href="#">پشتیبانی محصولات</a></li>
                            <li><a href="#">ضمانت بازگشت وجه</a></li>
                            <li><a href="#">سفارشی‌سازی Front End سایت</a></li>
                            <li><a href="#">خدمات Back End سایت</a></li>
                            <li><a href="#">امنیت و حریم خصوصی</a></li>
                            <li><a href="#">قوانین و شرایط</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-left justify-content-center mr-auto ml-auto">
                <p class="copyright justify-content-center fo-fa">تمامی حقوق مادی و معنوی این وب سایت، برای <a
                        href="{% url 'home_page' %}">Rappid Web</a> محفوظ است و هرگونه کپی برداری پیگرد قانونی دارد.</p>
            </div>
        </div>
    </div>
</footer>
<!-- End of Footer -->