<div class="swiper-wrapper" id="swiper-wrapper-9105d2a317f610e3ce" aria-live="polite"
     style="transform: translate3d(0px, 0px, 0px);">
    {% for category in categories %}
        <div class="swiper-slide category category-classic category-absolute overlay-zoom br-xs">
            <a href="demo-rtl-shop.html" class="category-media">
                {#                            <img src="{{ category.image2.url }}" alt="{{ category.title }}" width="130" height="130">#}
                {% if category.image2 %}
                    <img src="{{ category.image2.url }}" alt="{{ category.title }}" width="130" height="130">
                {% else %}
                    <img src="/static/assets/images/default-category-image.jpg" alt="Default Category" width="130"
                         height="130">
                {% endif %}

            </a>
            <div class="category-content">
                <h4 class="category-name">{{ category.title }}</h4>
                <a href="{% url 'product-categories-list' category.slug %}"
                   class="btn btn-primary btn-link btn-underline">Shop Now</a>
            </div>
        </div>
    {% endfor %}
</div>